@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

*{
  margin: 0;
  padding: 0;
  color: var(--white);
}

:root{
  --black: #000;
  --blue: #19A7CE;
  --white: #fff;
  --gris: #1b2430;
  --skiblue: #29b3d9;
  --grisclaro: #383d45;
  --font_lobster: "Lobster", cursive;
  --font_poppins: "Poppins", sans-serif;
}

body{
  background-color: var(--gris);
}

/* -- SCROLL -- */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--grisclaro);
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}

/* -- BARRA DE NAVEGACION -- */

.logo a img {
  cursor: pointer;
  margin-right: auto;
  width: 100px;
  margin-top: 5px;
  margin-left: 30px;
}

.menu {
  background-color: transparent;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: var(--font_poppins);
}

.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu_items li {
  padding: 0px 20px;
  margin-top: 9px;
}

.menu_items li a {
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s ease 0s;
  color: var(--white);
  display: block;
  text-transform: uppercase;
}

.menu_items li a:hover {
  color: var(--blue);
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  cursor: pointer;
  display: none;
  color: var(--white);
}

ul.show {
  top: 75px;
}

.menu.transparent {
  background-color: transparent;
  box-shadow: none;
}

.menu.black {
  background-color: var(--black);
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding: 35px;
  }
  .menu_items li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 858px) {
  .menu {
    height: 75px;
  }
  .btn_menu {
    display: inline-block;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background-color: var(--gris);
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li:hover {
    background: none;
  }
  .menu_items li a {
    font-size: 15px;
  }
  .logo {
    padding-left: 0px;
  }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items {
    margin: 5px 0 0 0;
  }
  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

/* -- PIE DE PAGINA (FOOTER) -- */
footer {
  margin: 20px 0px 0px 0px;
  padding: 20px 20px;
  box-shadow: 1px -1px 15px var(--black);
  text-align: center; /* Se agrega para centrar contenido del footer */
}

footer .logo {
  margin: 30px 0 30px 0;
}

footer .logo .devteam {
  font-size: 50px;
}

footer .logo .proyect {
  font-size: 30px;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Agrega esto para que se ajuste a la pantalla */
}

footer .informacion_pagina {
  margin: 15px 30px 30px 30px; /* Se reducen los márgenes para que se ajuste a la pantalla */
}

footer div {
  text-align: center;
}

footer div a:hover {
  color: var(--azul);
}

.contactos_utp{
  margin-top: 10px;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer .informacion_pagina {
    font-size: 10px;
  }
  .contactos_utp {
    font-size: 7px;
  }
}

/* -- -- */
