.contenedor_datos{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contenedor_datos .imagen{
  background-image: url("../img/panel_login.jpg");
  height: 100vh;
  width: 50%;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 22px 1px 55px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px) brightness(0.8) saturate(1.2);
  text-align: center;
}


.contenedor_datos .datos{
  border: solid 2px var(--blue);
  box-shadow: 0 0 10px #19A7CE, 0 0 40px #19A7CE, 0 0 80px #19A7CE;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 15px;
}

.contenedor_datos .registro_entrada {
  display: flex;
  flex-direction: column;
}

.contenedor_datos .registro_entrada .entry{
  background: none;
  border-radius: 15px;
  border: solid 2px var(--grismaxclaro);
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  color: var(--white);
}

.contenedor_datos .registro_entrada .botones{
  background: none;
  border: solid 2px var(--blue);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.contenedor_datos .registro_entrada a{
  text-align: center;
}